[defaults]
inventory = /home/einfochips/training-Day19/ec2_instance.py
remote_user = ubuntu
host_key_checking = false

[inventory]
enable_plugins = host_list, script, yaml, ini, auto,aws_ec2

[all:vars]
ansible_python_interpreter = /usr/bin/python3
ansible_ssh_private_key_file = /home/einfochips/Documents/ansible-worker.pem
